body {
font-family: ITC Avant Garde Gothic Pro;
font-weight: bold;
}

a { 
 text-decoration: none;
 color: black;}

#time {
position: absolute;
top: 35%;
left: 8%;
font-size: 35vh;
}

#date {
position: absolute;
top: 24%;
left: 8%;
font-size: 12vh;
}

#day {
position: absolute;
top: 45%;
left: 8%;
font-size: 20vh;
}

#milliseconds {
position: absolute;
top: 58%;
left: 82%;
font-size: 7vh;
}

#season {
position: absolute;
top: 61%;
left: 70%;
font-size: 12vh;
}

#button {
position: absolute;
width: 50vw;
height: 100vh;
top: 0%;
left: 50%;
background-color: white;
}

#button2 {
position: absolute;
width: 50vw;
height: 100vh;
top: 0%;
left: 0%;
background-color: white;
}

.animation{
animation-name: zoom-out;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.animation2{
animation-name: zoomtwo;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.animation3{
animation-name: zoomthree;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.animation4{
animation-name: zoomfour;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes zoom-out {
 0%   {font-size: 35vh;}
 100% {font-size: 30vh;
top: 30%;
left: 15%;}
}

@keyframes zoomtwo {
 0%   {font-size: 12vh;}
 100% {font-size: 8vh;
top: 23%;
left: 15%;}
}

@keyframes zoomthree {
 0%   {font-size: 25vh;}
 100% {font-size: 20vh;
top: 36%;
left: 15%;}
}

@keyframes zoomfour {
 0%   {font-size: 8vh;}
 100% {font-size: 7vh;
top: 50%;
left: 73%;}
}

.anim{
animation-name: out;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.anim2{
animation-name: two;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.anim3{
animation-name: three;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.anim4{
animation-name: four;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

.anim5{
animation-name: five;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes out {
 0%   {font-size: 35vh;}
 100% {font-size: 40vh;
top: 30%;
left: 2%;}
}

@keyframes two {
 0%   {font-size: 12vh;}
 100% {font-size: 15vh;
top: 17%;
left: 3%;}
}

@keyframes three {
 0%   {font-size: 20vh;}
 100% {font-size: 25vh;
top: 47%;
left: 5%;}
}

@keyframes four {
 0%   {font-size: 7vh;}
 100% {font-size: 8vh;
top: 62%;
left: 88%;}
}

@keyframes five {
 0%   {font-size: 12vh;}
 100% {font-size: 15vh;
top: 64%;
left: 70%;}
}

#bar {
 position: absolute;
 width: 30vw;
 height: .3vh;
 background-color: black;
 left: 37%;
 top: 95%;
}

#navigation {
 position: absolute;
 width: 30vw;
 height: 1vh;
 background-color: white;
 left: 40%;
 top: 94.5%;
}

.anim-bar{
animation-name: anim-bar;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes anim-bar {
 0%   {left: 40%;}
 100% {left: 43%;}
}

.anim-back{
animation-name: anim-back;
animation-iteration-count: 1;
animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes anim-back {
 0%   {left: 40%;}
 100% {left: 37%;}
}