html {
   animation-name: fadeIn; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
    margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div {
   position: absolute;
   margin: 3px;
   left: 36vw;
   top: 10vh;
   font-family: Termina;
   font-size: 30px;
}

#differences{
   position: absolute;
   margin: 3px;
   left: 6vw;
   top: 2.5vh;
   font-size: 90px;
}


#button {
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: red;
   left: 30vw;
   top: 9vh;
}

.bar {
     position: relative;
   width: 20px;
   height: 25px;
   background-color: black;
   margin: 3px;
   left: 30.5vw;
   top: 18vh;
   display: block;

}

#bar1:hover{
  background-color: white;
}

#bar2:hover{
  background-color: white;
}

#bar3:hover{
  background-color: white;
}

#bar4:hover{
  background-color: white;
}

#bar5:hover{
  background-color: white;
}

#bar6:hover{
  background-color: white;
}

#bar7:hover{
  background-color: white;
}

#bar8:hover{
  background-color: white;
}

#bar9:hover{
  background-color: white;
}

#bar10:hover{
  background-color: white;
}

#bar11:hover{
  background-color: white;
}

#bar11{
  background-color: red;
}

#bar12:hover{
   background-color: white;
}